.bootstrap-select{
  font-size: 20px
}

.bootstrap-select .btn {   
  outline: none;
  border:none !important;
  box-shadow:none !important;
  border-width: 0;
  color: #fff;
  background-color: #1abc9c;
  padding: 10px 15px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.bootstrap-select .btn:hover,
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active{
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.open.bootstrap-select .btn:hover,
.open.bootstrap-select .btn:focus,
.open.bootstrap-select .btn:active{
  color: #d4d4d4;
  background-color: #17a58a;
}

.btn-group.open .dropdown-toggle{
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width: 100%
}

.bootstrap-select.btn-group .dropdown-menu li a{
  background-color: transparent;
  color: #fff;
  margin: 0 4px;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover,
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li a:active {
  color: #d4d4d4 !important;
  background-color: #233140  !important;
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a {
  background-color: #1abc9c !important;
  color: #fff !important;
}

.btn-group.bootstrap-select .dropdown-toggle .caret{
  border-width: 8px 6px;
  border-bottom-color: #fff;
  border-top-color: #fff;
  border-style: solid;
  border-bottom-style: none;
}

.bootstrap-select.btn-group > .dropdown-menu{
  background-color: #2f4154;
  margin-top: 0px;
  border-width: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;  
  transition: .25s;  
  -webkit-transition: .25s;
  display: block;
  opacity: 0; 
  min-height: 0 !important;
  overflow: hidden;
  visibility: hidden;
}

.open.bootstrap-select.btn-group > .dropdown-menu{  
  opacity: 1;
  margin-top: 18px;
  height: auto;
  visibility: visible;
}

.bootstrap-select.btn-group .dropdown-menu.inner{
  background-color: transparent;
  color: #fff;
  min-height: 0 !important;
}

.btn-group.bootstrap-select .caret.dropdown-caret{
  position: absolute;
  right: 19px;
  top: 100%;
  margin-top: 0px;
  border-width: 8px 9px;
  border-bottom-color: #2f4154;
  border-top-color: #2f4154;
  border-style: solid;
  border-bottom-style: none;
  -webkit-transform: rotate(180deg);
  transition: .25s;  
  -webkit-transition: .25s;
  opacity: 0;
}

.open.btn-group.bootstrap-select .caret.dropdown-caret{
  position: absolute;
  right: 19px;
  top: 100%;
  margin-top: 11px;
  border-width: 8px 9px;
  border-bottom-color: #2f4154;
  border-top-color: #2f4154;
  border-style: solid;
  border-bottom-style: none;
  -webkit-transform: rotate(180deg);
  opacity: 1;
}



